body {
        margin: 0;
        font-family: Arial, sans-serif;
        background: #000;
        color: #fff;
    }

.top{
	display:flex;
	justify-content:space-between;
}
.social-icons{
	display:flex;
	gap:30px;
	margin-top:25px;
	margin-right:15px;
}

.footer-columns {
        display: flex;
        gap: 70px;
    }

 .footer-col h3 {
        font-size: 18px;
        margin-bottom: 10px;
        position: relative;
    }

.footer-col h3::after {
        content: "";
        width: 40px;
        height: 2px;
        background: #fff;
        display: block;
        margin-top: 5px;
    }

.footer-col ul {
        list-style: none;
        padding: 0;
        margin: 0;
        line-height: 2;
    }

.footer-col ul li {
        color: #cfcfcf;
        font-size: 15px;
        cursor: pointer;
    }

.social-icons i {
        font-size: 22px;
        color: #fff;
        background: #2f3f8f;
        padding: 12px;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;
    }

.fb { background: #3b5998; }
    .tw { background: #1da1f2; }
    .ig { background: #e1306c; }
    .ln { background: #0077b5; }
    .yt { background: #ff0000; }

.footer-bottom {
        background: #1f2430;
        color: #cfcfcf;
        padding: 15px 80px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
}