body {
        margin: 0;
        font-family: Arial, sans-serif;
        color: #fff;
}
.footer{
	height:380px;
	background: #000;

}

	.nav{
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin:20px;
}
.nav h1{
	margin-left:15px;
	
}

.icons i{
	padding:12px;
	border-radius:50%;	
	margin-left:5px;
	margin-right:5px;
}

#facebook{
	background-color:#4267B2;
}
#twitter{
	background-color:#1DA1F2;
}
#insta{
	background-color:#E1306C;
}
#linkedin{
	background-color:#0077B5;
}
#youtube{
	background-color:#FF0000;
}

.links{
	display:flex;
	margin-right:20px;
	
}

.link h3{
	margin-left:38px;
	text-decoration-line: underline;
	
}
.link ul{
	list-style:none;
	
}

.link ul li{
	padding-top:20px;
	font-weight:100;
	font:12px;
	
}	

.link{
	margin-right:60px;
}

.foot{
	background-color:#2C303A;
	color:#60636A;
	display:flex;
	justify-content:space-between;
	
}

.foot p:nth-child(2){
	right:20px;
	position:absolute;
}
.foot p:nth-child(1){
	margin-left:40px;
	/* position:absolute; */
}

